<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("../includes/navbar.ejs")%>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="3-1-form" action="/create/researcher" method="POST">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter name" required>
                        
                        <label for="last_name">Last_Name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Enter last name" required>
                        
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" name="gender" placeholder="Enter gender" required>

                        <label for="birthdate">BirthDate</label>
                        <input type="date" class="form-control" name="birthdate"required>
                        
                        <label for="start_date">start_date</label>
                        <input type="date" class="form-control" name="start_date"required> 

                        <label for="organization_id">organization_id</label>
                        <input type="number" class="form-control" name="organization_id" min="1" max="<%=max_organization_id%>" placeholder="Enter organization id"required>
                        
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit-custom">Insert</button>
                </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  
</body>

</html>