<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    
    <%- include("includes/navbar.ejs")%>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="3-1-form" action="/project/conditions" method="GET">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="start_date">Start date</label>
                        <input type="date" class="form-control" name="start_date">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="duration">Duration</label>
                        <input type="number" class="form-control" min="1" max="4" name="duration" placeholder="Enter the duration of the project">
                    </div>
                    <div class="form-group col-sm-3 mb-3">
                        <label for="exec_id">Executive id</label>
                        <input type="number" id="exec_id" name="exec_id" min="1" placeholder="Enter executive id">
                    </div>
                    <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
                </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  
</body>

</html>